<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>会员中心</title>
<link rel="stylesheet" type="text/css" href="{$Think.config.web}css/style.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_403143_8vku17a69ml07ldi.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.web}css/swiper-3.4.2.min.css">
<script src="{$Think.config.web}js/jquery-1.12.1.min.js"></script>
<script src="{$Think.config.web}js/swiper-3.4.2.jquery.min.js"></script>
<script src="{$Think.config.web}js/jquery.lazyload.min.js"></script>
</head>

<body>
<div class="width100 font16 tcenter relative" style="height:44px;background:url(images/bjx.jpg) repeat-x;line-height:44px;">
	个人中心
</div>
<script>
$("body").css({background:"#f0f2f5"})
</script>
<div class="width100 hidden" style="height:125px;background:url(images/bj_red.jpg) repeat-x">
	<div class="width96 center hidden">
    	<img src="{$Think.config.web}images/newDefaul.png" style="width:56px;height:56px;border-radius:50%;margin:0 auto;margin-top:23px;">
        <!--n0,n1,n2,n3-->
        <div class="width100 tcenter n0 font14 fff" style="margin-top:6px;">138***&nbsp;<i class="iconfont icon-huiyuandengji"></i></div>
    </div>
</div>
<div class="width100 hidden bj_fff" style="margin-top:10px;">
	<div class="width96 center hidden" id="vip_centers">
    	<a href="youhuijuan.html" class="block width100 c_33 font16 hidden borderb" style="height:44px;line-height:44px;"><i class="iconfont icon-youhuijuan font20" style="color:#ff7e45;"></i>&nbsp;优惠券<img src="{$Think.config.web}images/sm_qianjin.png" class="right" style="width:12px;height:20px;margin-top:12px;"></a>
        <a href="javascript:void(0)" class="block width100 c_33 font16 hidden borderb" style="height:44px;line-height:44px;"><i class="iconfont icon-aiguifanfile font20" style="color:#7790fe;"></i>&nbsp;我的订单<img src="{$Think.config.web}images/sm_qianjin.png" class="right" style="width:12px;height:20px;margin-top:12px;"></a>
        <a href="javascript:void(0)" class="block width100 c_33 font16 hidden borderb" style="height:44px;line-height:44px;"><i class="iconfont icon-wodeguanzhu font20" style="color:#00c670;"></i>&nbsp;我的收藏<img src="{$Think.config.web}images/sm_qianjin.png" class="right" style="width:12px;height:20px;margin-top:12px;"></a>
        <a href="javascript:void(0)" class="block width100 c_33 font16 hidden borderb" style="height:44px;line-height:44px;"><i class="iconfont icon-aiguifanfile font20" style="color:#c568f5;"></i>&nbsp;消息中心<img src="{$Think.config.web}images/sm_qianjin.png" class="right" style="width:12px;height:20px;margin-top:12px;"></a>
        <a href="javascript:void(0)" class="block width100 c_33 font16 hidden borderb" style="height:44px;line-height:44px;"><i class="iconfont icon-huiyuan font20" style="color:#ffce54;"></i>&nbsp;资金明细<img src="{$Think.config.web}images/sm_qianjin.png" class="right" style="width:12px;height:20px;margin-top:12px;"></a>
    </div>
</div>
<div id="footer">
	<a href="javascript:void(0)" class="on">
    	<p><i class="iconfont icon-shouye" style="font-size:27px!important"></i></p>
        <span>首页</span>
    </a>
    <a href="javascript:void(0)">
    	<p><i class="iconfont icon-leimupinleifenleileibie" style="font-size:27px!important"></i></p>
        <span>分类</span>
    </a>
    <a href="javascript:void(0)">
    	<p><i class="iconfont icon-gouwuche" style="font-size:27px!important"></i></p>
        <span>购物车</span>
    </a>
    <a href="javascript:void(0)">
    	<p><i class="iconfont icon-wode" style="font-size:27px!important"></i></p>
        <span>我的</span>
    </a>
</div>
</body>
</html>
