<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>my_list</title>
<link rel="stylesheet" type="text/css" href="{$Think.config.web}css/style.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_403143_8vku17a69ml07ldi.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.web}css/swiper-3.4.2.min.css">
<script src="{$Think.config.web}js/jquery-1.12.1.min.js"></script>
<script src="{$Think.config.web}js/swiper-3.4.2.jquery.min.js"></script>
<script src="{$Think.config.web}js/jquery.lazyload.min.js"></script>
</head>

<body>
<div class="width100 font16 tcenter relative" style="height:44px;background:url(images/bjx.jpg) repeat-x;line-height:44px;">
	我的订单
    <a href="javascript:void(0)" id="return"></a>
</div>
<script>
$("body").css({background:"#f0f2f5"})
</script>
<div class="width100 hidden bj_fff">
	<a href="javascript:void(0)" class="width96 hidden center block c_33 borderb" style="margin-top:10px;margin-bottom:10px;">
    	<div class="width100 hidden">
    		<img src="{$Think.config.web}images/sp5.jpg" width="70" height="70" class="left">
            <div class="font14 c33">超市双枪（Suncha）筷子 无漆无蜡鸡翅木筷子原木色10双装 XK1501</div>
            <div class="font13 c33"><font class="red right">￥29.90</font></div>
            <div class="hidden width100 remo" style="height:20px;line-height:20px;">
                <span class="right font14 red block">删除</span>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" class="width96 hidden center block c_33 borderb" style="margin-top:10px;margin-bottom:10px;">
    	<div class="width100 hidden">
    		<img src="{$Think.config.web}images/sp5.jpg" width="70" height="70" class="left">
            <div class="font14 c33">超市双枪（Suncha）筷子 无漆无蜡鸡翅木筷子原木色10双装 XK1501</div>
            <div class="font13 c33"><font class="red right">￥29.90</font></div>
            <div class="hidden width100 remo" style="height:20px;line-height:20px;">
                <span class="right font14 red block">删除</span>
            </div>
        </div>
    </a>
</div>
</body>
</html>
