<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>my_mingxi</title>
<link rel="stylesheet" type="text/css" href="{$Think.config.web}css/style.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_403143_nbpgsnnn79tqpvi.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.web}css/swiper-3.4.2.min.css">
<script src="{$Think.config.web}js/jquery-1.12.1.min.js"></script>
<script src="{$Think.config.web}js/swiper-3.4.2.jquery.min.js"></script>
<script src="{$Think.config.web}js/jquery.lazyload.min.js"></script>
</head>

<body>
<div class="width100 font16 tcenter relative" style="height:44px;background:url(images/bjx.jpg) repeat-x;line-height:44px;">
	积分明细
    <a href="javascript:void(0)" id="return"></a>
</div>
<script>
$("body").css({background:"#f4f4f4"})
</script>
<div class="width100 hidden" style="margin-top:10px;">
	<div class="width96 center hidden">
        <table width="100%" border="1">
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        </table>
    </div>
</div>
</body>
</html>
